/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:rgb(51, 50, 50); /* cor fundo */
    color:#ffffff ;  /* cor texto */
}

i {
    color: rgb(255, 255, 255);
    font-size: 20px; /* tamanho do texto */

}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: black;
    padding: 8px 16px;
    z-index: 2;
}

.menu{
    display: flex;
    align-items: center;
    background:rgb(39, 39, 39) ;  /* cor fundo */
    gap: 25px;
    list-style: none;

}

.menu-item { /* lista = li */
    width: 100%;

}

.menu-link {
    display: flex;
    text-decoration: none;

}

.menu-texto{
    font-size: 20px;
    text-transform: uppercase;

}

.menu-mobile .menu-link{
    flex-direction: column;
    justify-content: center;
    padding: 50px 15px;

}
/* span = menu-texto */
/* icone+ icone do bootstrap */
.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto{
    color:  white;
    

}

.menu-icone,
.menu-texto{
    color: rgb(202, 204, 202);
    
    

}

.menu-icone{
    font-size: 25px;
}

.menu-principal{
    gap: 20px;
}

.header-nav {
    display: none;
}

/* CSS RESPONSIVO */
@media (min-width: 768px) {
    #header {
        position: fixed;
        border-bottom: 1px solid #faf3f3;
    }

}
    
    
