@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');




/* Definir cores tema dark  */
:root,
:root[data-theme="dark"] {

    --bg-body: #222;
    --cor-texto: #eee;

    --bg-header: #222;
    --icone-tema: #eee;
    --txt-menu-houver: #eee;
    --btn: #eee;





}
/* definir tema light */
:root[data-theme="light"] {

    --bg-body: #eee;
    --cor-texto: #222; 

    --bg-header: #eee;
    --icone-tema: #222;
    --txt-menu-houver: #222;
    --btn: #222;


}




/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[data-theme='light'] .logo {
filter: invert(1);


}

html{
    scroll-behavior: smooth;
}

body {
    background: var(--bg-body); /* cor fundo */
    color: var(--cor-texto);  /* cor texto */
}
h1 {
    font-family: "Reddit Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;
}

h2 {
  font-family: "Reddit Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 25;

}

b{
    font-family: "Reddit Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 50px;
  
}
    

i {
    color: rgb(255, 255, 255);
    font-size: 20px; /* tamanho do texto */
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--bg-header);
    padding: 8px 16px;
    z-index: 2;
}

.header-logo .logo{
    width: 4rem;
    height: 4rem;
   
}

.menu { 
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid;

}

.menu-item {
    width: 100%;
    
}

.menu-link { 
    display: flex;
    text-decoration: none;
}

.menu-texto {
    font-family: "Reddit Sans", serif;
    font-size: 15px;
    text-transform: uppercase;
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 50px 15px;

}

.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto{
    color: var(--txt-menu-houver);
    font-weight: 800;
}

/* não selecionados */
.menu-icone,
.menu-texto{ 
    color: #797979;
    font-weight: 400;
}

/* .menu-link .menu-texto:hover,
.menu-link .menu-icone:hover {
    font-size: 22px;
} */

.menu-icone {
    font-size: 25px;
}

.menu-principal {
    gap: 20px;
}

.header-nav {
    display: none;

}

#toggleTheme {
     font-size: 23px;
     color: var(--icone-tema);
     cursor: pointer;
     transition: ease-in-out .3s;
}
/* HOME */

#home {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* ATUALIZAÇÕES FUTURAS */
#home, .projetos, .sobre, .contato {
    padding: 32px 16px;

}

/* PROJETO */
.projetos{
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.card-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white; 
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.card-title {
    font-family: "Reddit Sans", serif;
    font-size: 25px;
    font-weight: 600;
}

.card-description {
    font-family: "Reddit Sans", serif;
    font-size: 20px;
    font-weight: lighter;
}

.card-lista {
    list-style: none;
    

}

.card-item { /* li */
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 5px;

}
/* btn */
.btn {
    display: flex;
    justify-content: center;
    align-items: 5px;
    gap: 5px;
    background: transparent;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--btn);
}

.btn-primary {
    border: 1px solid var(--btn);
}
.btn span {
    color: var(--btn);
    font-size: 20px;
    text-transform: uppercase;
}
.btn i {
    font-size: 18px;
}
.btn:hover{
    transform: scale(1.02);
    transition: ease-in-out .4s;

}
.btn:hover span{
    color: var(--txt-menu-houver);
}

a{
    text-decoration: none;
}
.video iframe {
    width: 100%;
    aspect-ratio:16/9;
}

.sobre-content1,
.sobre-content2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;


}
.sobre-perfil { 
    width: 100%;
    pointer-events: none;
    border-radius: 50%;
    border: 8px solid var(--cor-borda);
    object-fit: cover;
    object-position: center;
}

.sobre-descricao{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

/* CSS Responsivo */
@media (min-width: 768px) {  /* a partir de: 768px */
    #header {
        position: fixed;
        border-bottom: 1px solid #f3f3f3;
        padding: 16px 80px;
        background: var(--bg-header);
    }
    .nav-mobile {
        display: none;
    }
    .header-nav{
        display: flex;
    }
    #home {
        padding: 128px 96px 64px 96px;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* 1200px */

/* 992 px */
@media (min-width: 992px){
    .project-card {
        flex-direction: row;
    
    }

    .project-card.card-reverse{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .card-img {
        width: 55%;
    }
}

@media (min-width: 1400pc){}



